// GitHub Package Registry setup
@bnb:registry=https://npm.pkg.github.com/

// npm init configuration - helps me run `npm init -y` and get the exact settings I want
init.author.name=Tierney Cyren
init.author.email=hello@bnb.im
init.license=MIT
